body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: black;
}
.fixed-top{
        transition:500ms ease;
        background:transparent;
}
.fixed-top.scrolled{
    background:white;
    color:#000;
  }
#image{
    width: auto;
    height: 100vh;
    border-radius: 0;
}

.owl-carousel .card-img-overlay{
    width: auto;
    height: 50vh;
    
}

@media only screen and (min-width: 0px) {
    .owl-prev{
        left: -5px;
    }
    .owl-next{
        right: -5px;
    }
    
    .owl-prev , .owl-next{
        position: absolute;
        top: 50px;
    } 
    .owl-prev span, .owl-next span{
        font-size: 80px;
        color: black;
    }
    .owl-theme, .owl-nav[class*="owl-"]:hover{
        background-color:transparent;
        color: black;
    }
}
@media only screen and (min-width: 600px) {
    .owl-prev{
        left: -30px;
    }
    .owl-next{
        right: -30px;
    }
    
    .owl-prev , .owl-next{
        position: absolute;
        top: 50px;
    } 
    .owl-prev span, .owl-next span{
        font-size: 80px;
        color: black;
    }
    .owl-theme, .owl-nav[class*="owl-"]:hover{
        background-color:transparent;
        color: black;
    }
    
}


